@import "../../../../../index.scss";

.admin-students {
  width: 100%;
  display: flex;
  .admin-student-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    .student-details {
      min-height: 90vh;
      width: 100%;
      margin-top: 10vh;
      padding: 30px 30px 30px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      background-color: $background;
      @media (max-width: 1700px) {
        padding: 25px 25px 30px;
        gap: 25px;
      }
      @media (max-width: 1450px) {
        padding: 20px 20px 30px;
        gap: 20px;
      }
      .mui-tabs {
        width: 100%;
        .tab {
          font-size: 14px !important;
          color: $heading;
          font-weight: 700;
          @media (max-width: 1700px) {
            font-size: 13px !important;
          }
          @media (max-width: 1450px) {
            font-size: 12px !important;
          }
        }
        & .Mui-selected {
          color: $yellow;
        }
      }
      .MuiTabs-flexContainer {
        display: flex;
        gap: 30px;
      }
    }
  }
}
