@import "../../../../../index.scss";

.all-jobs {
  width:100%;
  border: 2px solid $border;
  border-radius: 20px;
 

  .all-job-role-filters {
    display: flex;
    gap: 12px;
    position: absolute;
    top: 14vh;
    right: 30px;
    
    @media (max-width: 1700px) {
      gap: 11px;
    }
    @media (max-width: 1450px) {
      gap: 10px;
    }

    .course-dropdown {
      border: 2px solid $border !important;
      outline: none;
      padding: 8px 13px;
      color: $heading;
      font-weight: 700;
      width: 157px;
      height: 40px;
      border-radius: 10px;
      cursor: pointer;
      @media (max-width: 1700px) {
        padding: 7px 12px;
        width: 154px;
        height: 38px;
      }
      @media (max-width: 1450px) {
        padding: 6px 11px;
        width: 150px;
        height: 36px;
      }
    }
  }

  .recruiterList {
    border-bottom: none;
    border-radius: 20px !important;
    overflow: hidden;
    box-shadow: none !important;
 

    .recruiter-list-table {
      width: 100%;
      table-layout: fixed;

      .table-head {
        width:100%;
        .table-head-data {
          font-size: 14px !important;
          color: $heading;
          font-weight: 700;
          overflow: hidden;
          align-items: center;
          font-family: "Montserrat", sans-serif;
          border-bottom: 2px solid $border;
          @media (max-width: 1700px) {
            font-size: 13px !important;
          }
          @media (max-width: 1450px) {
            font-size: 12px !important;
          }
        }
      }

      .table-body {
        width:100%;

        tr {

          &:hover {
  
            background-color: $table-hover;
  
          } }

        .selected-status {
          font-weight: 700 !important;
          color: $green !important;
        }
        .rejected-status {
          font-weight: 700 !important;
          color: $red !important;
        }
        .table-body-data {

          font-size: 14px;
          color: $light-blue;
          font-weight: 500;
          font-family: "Montserrat", sans-serif;
          border-bottom: 2px solid $border;
          @media (max-width: 1700px) {
            font-size: 13px !important;
          }
          @media (max-width: 1450px) {
            font-size: 12px !important;
          }

          img {
            width: 40px;
            border-radius: 50%;
            @media (max-width: 1700px) {
              width: 38px;
            }
            @media (max-width: 1450px) {
              width: 36px;
            }
          }
        }
      }

      border: none;
    }
  }
}
