@import "../../../../index.scss";
.college-EditProfile{
    display: flex;
    gap:16px;
    .edit-profile-content{
        .edit-profile-data{    
            margin-top: 10vh;
            background-color: $background;
            padding: 30px 30px 30px;
      
            @media (max-width: 1700px) {
              padding: 25px 25px 30px;
            }
            @media (max-width: 1450px) {
              padding: 20px 20px 30px;
            }
            .edit-profile-components{
                border-radius: 20px; 
                border: 2px solid $border;
                background-color: $white;
                display: flex;
                padding: 30px 25px;
                .edit-profile-components-left{
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-right:solid $border;
                    position: relative;
                    gap: 40px !important;
                    // background-color: #FF9F43;

                    @media(max-width:1670px){
                        gap:33px !important;
                    }
                    @media(max-width:1470px){
                        gap:25px !important;
                    }

                    .back-btn{
                        position: absolute;
                        width: 40px;
                        // he: 40px;
                        img{
                            width: 100%;
                        }
                    }
                }
                .edit-profile-components-right{
                    width: 70%;
                    height: 80vh;
                    overflow-y: scroll;
                    display: flex;
                    flex-direction: column;
                    gap:40px;
                    padding:0px 0px 0px 5vw;

                    .buttons{
                        width: 44%;
                        button{
                            width: 43%;
                            color: $white;
                            background-color:$yellow;
                            border: none;
                            padding:11px 0px ;
                            font-size: 16px;
                            font-weight: 400;
                            border-radius: 10px;
                            }
                        }
                }
            }
        }
    }
    }