@import "../../../../../../index.scss";

.admin-cards {
  width: 100%;
  display: flex;
  gap: 16px;
  @media (max-width: 1700px) {
    gap: 13px;
  }
  @media (max-width: 1450px) {
    gap: 10px;
  }
  .admin-card {
    width: 25%;
    background-color: $white;
    border: 2px solid $border;
    border-radius: 20px;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    @media (max-width: 1700px) {
      padding: 20px 18px;
      gap: 18px;
    }
    @media (max-width: 1450px) {
      padding: 18px 15px;
      gap: 15px;
    }
    .titles {
      display: flex;
      flex-direction: column;
      gap: 8px;
      @media (max-width: 1700px) {
        gap: 5px;
      }
      h3 {
        color: $heading;
        font-size: 14px;
        font-weight: 700;
        @media (max-width: 1700px) {
          font-size: 13px;
        }
        @media (max-width: 1450px) {
          font-size: 12px;
        }
      }
      p {
        width: 70%;
        color: $light-grey;
        font-size: 12px;
        @media (max-width: 1700px) {
          font-size: 11px;
          width: 75%;
        }
        @media (max-width: 1450px) {
          font-size: 10px;
          width: 80%;
        }
      }
    }
    .count {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .courses {
        display: flex;
        flex-direction: column;
        gap: 15px;
        @media (max-width: 1700px) {
          gap: 13px;
        }
        @media (max-width: 1450px) {
          gap: 10px;
        }
        .course {
          display: flex;
          align-items: center;
          gap: 10px;
          .circle {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $light-blue;
          }
          p {
            font-size: 10px;
            color: $light-blue;
          }
          #blue-text {
            font-size: 14px;
            font-weight: 600;
            @media (max-width: 1700px) {
              font-size: 13px;
            }
            @media (max-width: 1450px) {
              font-size: 12px;
            }
          }
          #yellow-text {
            font-size: 14px;
            font-weight: 600;
            color: $yellow;
            @media (max-width: 1700px) {
              font-size: 13px;
            }
            @media (max-width: 1450px) {
              font-size: 12px;
            }
          }
        }
      }
    }
    .total {
      align-self: flex-end;
      h2 {
        color: $heading;
        font-size: 36px;
        font-weight: 600;
        @media (max-width: 1700px) {
          font-size: 30px;
        }
        @media (max-width: 1450px) {
          font-size: 28px;
        }
      }
      .total1 {
        position: absolute;
        bottom: 24px;
        right: 20px;
        @media (max-width: 1700px) {
          bottom: 20px;
          right: 18px;
        }
        @media (max-width: 1450px) {
          bottom: 18px;
          right: 15px;
        }
      }
    }
  }
}
