@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

// Hide Scrollbar
::-webkit-scrollbar {
  display: none;
}

// hide arrow buttons in input type=number
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Colors */
$yellow: #ff9f43;
$blue: #0557a2;
$white: #ffffff;
$light-blue: #7d8fb3;
$light-grey: #adb8cc;
$grey: #f2f4f7;
$border: #f8f8f8;
$heading: #2f4362;
$black: #230f0f;
$green: #28c76f;
$red: #ff533c;
$pink: #f96e6f;
$violet: #7947f7;
$background: #f5f6f7;
$input-border: #d9d9d9;
$table-hover: #fafbfc;
$link: #467fff;

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
