@import "../../../../index.scss";

.admin-recruiters {
  width: 100%;
  display: flex;
  .admin-recruiter-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    .recruiter-details {
      width: 100%;
      min-height: 90vh;
      margin-top: 10vh;
      padding: 30px 30px 30px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      background-color: $background;
      @media (max-width: 1700px) {
        padding: 25px 25px 30px;
        gap: 25px;
      }
      @media (max-width: 1450px) {
        padding: 20px 20px 30px;
        gap: 20px;
      }
      .recruiter-headings {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
          color: $heading;
          font-size: 14px;
          @media (max-width: 1700px) {
            font-size: 13px;
          }
          @media (max-width: 1450px) {
            font-size: 12px;
          }
        }
        button {
          border: none;
          background-color: $yellow;
          color: $white;
          font-size: 12px;
          font-weight: 600;
          padding: 12px;
          border-radius: 5px;
          @media (max-width: 1700px) {
            padding: 10px;
            font-size: 11px;
          }
        }
      }
      .recruiterList {
        width: 100%;
        border: 2px solid $border;
        border-radius: 20px;
        background-color: $white;

        .recruiter-list-table {
          width: 100%;
          .table-head {
            height: 60px;
            .table-head-data {
              font-size: 14px;
              font-weight: 700;
              color: $heading;
              text-align: center;
              font-family: "Montserrat", sans-serif;
              @media (max-width: 1700px) {
                font-size: 13px;
              }
              @media (max-width: 1450px) {
                font-size: 12px;
              }
            }
          }
          .table-body {
            tr {
              &:hover {
                background-color: $table-hover;
              }
            }
            cursor: pointer;
            .table-body-data {
              color: $light-blue;
              font-size: 14px;
              font-weight: 500;
              text-align: center;
              padding: 10px 16px;
              font-family: "Montserrat", sans-serif;
              @media (max-width: 1700px) {
                font-size: 13px;
              }
              @media (max-width: 1450px) {
                font-size: 12px;
              }
            }
            img {
              height: 40px;
              @media (max-width: 1700px) {
                height: 35px;
              }
              @media (max-width: 1450px) {
                height: 30px;
              }
            }
          }
        }
      }
    }
  }
}

.popup-content {
  border: 0px !important;
  border-radius: 10px;
  width: 30% !important;
  @media (max-width: 1450px) {
    width: 35% !important;
  }
  .recruiter-popup {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .close-button {
      align-self: flex-end;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: none;
      background-color: $red;
      color: $white;
      font-weight: 800;
    }
    .create-form {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      align-self: center;
      @media (max-width: 1700px) {
        gap: 35px;
      }
      @media (max-width: 1450px) {
        gap: 30px;
      }

      h3 {
        font-size: 18px;
        color: $heading;
        font-weight: 700;
        @media (max-width: 1700px) {
          font-size: 17px;
        }
        @media (max-width: 1450px) {
          font-size: 16px;
        }
      }
      .input-data {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        @media (max-width: 1700px) {
          gap: 18px;
        }
        @media (max-width: 1450px) {
          gap: 15px;
        }

        input {
          width: 100%;
          height: 45px;
          border: 2px solid $border;
          border-radius: 10px;
          padding: 0 10px;
          font-size: 14px;
          font-weight: 500;
          color: $light-blue;

          @media (max-width: 1700px) {
            font-size: 13px;
          }
          @media (max-width: 1450px) {
            font-size: 12px;
          }
          &::placeholder {
            color: $light-grey;
            font-size: 14px;
            font-weight: 400;
            @media (max-width: 1700px) {
              font-size: 13px;
            }
            @media (max-width: 1450px) {
              font-size: 12px;
            }
          }
          &:focus {
            outline: 2px solid $light-blue;
          }
        }
        #password {
          outline: none;
        }

        .generate-btn {
          align-self: flex-end;
          background-color: transparent;
          border: none;
          font-size: 14px;
          font-weight: 500;
          color: $light-blue;
          @media (max-width: 1700px) {
            font-size: 13px;
          }
          @media (max-width: 1450px) {
            font-size: 12px;
          }
        }
      }
      .submit-btn {
        width: 100%;
        background-color: $yellow;
        height: 40px;
        border: none;
        border-radius: 5px;
        color: $white;
        font-size: 14px;
        font-weight: 700;
        @media (max-width: 1700px) {
          font-size: 13px;
        }
        @media (max-width: 1450px) {
          font-size: 12px;
        }
      }
    }
  }
}
