@import "../../../../../../index.scss";
.edit-educationDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 1660px) {
    line-height: 18px;
  }
  .edit-educationDetails-heading {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: $heading;
    h2 {
      font-size: 16px;
      font-weight: 600;
      line-height: 28px;
      @media (max-width: 1660px) {
        line-height: 25px;
      }
    }
    p {
      color: $light-blue;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
    }
  }

  .edit-educationDetails-fields {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 40px;

    @media (max-width: 1770px) {
      row-gap: 27px;
      column-gap: 38px;
    }
    @media (max-width: 1660px) {
      row-gap: 25px;
      column-gap: 34px;
    }
    @media (max-width: 1470px) {
      row-gap: 24px;
      column-gap: 30px;
    }
    @media (max-width: 1366px) {
      row-gap: 20px;
      column-gap: 28px;
    }

    .edit-educationDetails-fields-field {
      width: 44%;
      display: flex;
      flex-direction: column;
      gap: 6px;
      input {
        width: 100%;
        padding: 10px 20px;
        border-radius: 10px;
        border: 2px solid $input-border;
        color: $light-blue;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        outline: none;
        @media (max-width: 1660px) {
          padding: 10px 18px;
          font-size: 13px;
          line-height: 18px;
        }
        @media (max-width: 1470px) {
          padding: 10px 18px;
          font-size: 12px;
          line-height: 18px;
        }
        @media (max-width: 1370px) {
          padding: 10px 17px;
          font-size: 12px;
          line-height: 17px;
        }
      }
      label {
        color: $light-grey;
        font-size: 12px;
        font-weight: 400;
        line-height: 150%;
      }
    }
  }
  .display-education-buttons {
    width: 92%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;

    button {
      color: #467fff;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      @media (max-width: 1700px) {
        font-size: 11px;
      }
      @media (max-width: 1450px) {
        font-size: 10px;
      }
    }
  }

  .display-education-details {
    width: 100%;

    .education-cards {
      width: 92%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      @media (max-width: 1700px) {
        gap: 18px;
      }
      @media (max-width: 1450px) {
        gap: 16px;
      }

      .education-card {
        width: 100%;
        padding: 50px 20px 20px;
        border: 2px solid $border;
        display: flex;
        flex-direction: column;
        gap: 30px;
        border-radius: 8px;
        position: relative;

        @media (max-width: 1700px) {
          padding: 45px 18px 18px;
          gap: 28px;
        }
        @media (max-width: 1450px) {
          padding: 40px 16px 16px;
          gap: 26px;
        }
        .multiple-cards {
          width: 100%;
          display: flex;
          gap: 30px;
          @media (max-width: 1700px) {
            gap: 28px;
          }
          @media (max-width: 1450px) {
            gap: 26px;
          }
          .card-details {
            display: flex;
            flex-direction: column;
            gap: 10px;

            img {
              position: absolute;
              top: 5%;
              right: 5%;
              width: 23px;
              height: 23px;
              cursor: pointer;
              @media (max-width: 1700px) {
                width: 21px;
                height: 21px;
              }
              @media (max-width: 1450px) {
                width: 19px;
                height: 19px;
              }
            }
            p {
              margin: 0;
              color: #7d8fb3;
              font-size: 11px;
              font-weight: 400;
            }
          }
        }

        .all-buttons {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          button {
            width: 100%;
            color: #ffffff;
            background-color: $yellow;
            border: none;
            padding: 11px 0px;
            font-size: 16px;
            font-weight: 500;
            border-radius: 10px;
            justify-content: center;
            display: flex;
            gap: 6px;
            @media (max-width: 1700px) {
              font-size: 14px;
            }
            @media (max-width: 1450px) {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
