@import "../../../../index.scss";

.admin-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  .admin-part2 {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .admin-form {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 32px;

      @media (max-width: 1700px) {
        gap: 30px;
      }
      @media (max-width: 1450px) {
        width: 55%;
        gap: 25px;
      }

      .admin-heading {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;

        h2 {
          color: $blue;
          font-size: 24px;
          font-weight: 700;

          letter-spacing: 0.2px;
          @media (max-width: 1700px) {
            font-size: 22px;
          }
          @media (max-width: 1450px) {
            font-size: 20px;
          }
        }

        p {
          font-size: 14px;
          color: $light-blue;
          font-weight: 400;
          @media (max-width: 1700px) {
            font-size: 13px;
          }
          @media (max-width: 1450px) {
            font-size: 12px;
          }
        }
      }

      .admin-input {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;

        @media (max-width: 1450px) {
          gap: 14px;
        }

        .email-field {
          width: 100%;

          label {
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            color: $light-grey;
            @media (max-width: 1700px) {
              font-size: 15px;
            }
            @media (max-width: 1450px) {
              font-size: 14px;
            }
          }
          input {
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            color: $light-blue;
            @media (max-width: 1700px) {
              font-size: 15px;
            }
            @media (max-width: 1450px) {
              font-size: 14px;
            }
          }
        }

        .password-field {
          width: 100%;
          label {
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            color: $light-grey;
            @media (max-width: 1700px) {
              font-size: 15px;
            }
            @media (max-width: 1450px) {
              font-size: 14px;
            }
          }
          input {
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            color: $light-blue;
            @media (max-width: 1700px) {
              font-size: 15px;
            }
            @media (max-width: 1450px) {
              font-size: 14px;
            }
          }
          .input-field {
            border-radius: 10px;
          }
        }
      }
      .admin-button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        button {
          width: 100%;
          height: 55px;
          color: #ffffff;
          border: none;
          border-radius: 10px;
          background-color: $blue;
          font-weight: 700;
          font-size: 16px;
          @media (max-width: 1700px) {
            font-size: 15px;
            height: 50px;
          }
          @media (max-width: 1450px) {
            font-size: 14px;
            height: 45px;
          }
        }
      }
    }
  }
}
