@import "../../../.l/../../../../../index.scss";


.contact-details {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    .contact-heading {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
      h2 {
        font-size: 18px;
        color: $heading;
        @media (max-width: 1700px) {
          font-size: 16px;
        }
        @media (max-width: 1450px) {
          font-size: 14px;
        }
      }
      p {
        font-size: 14px;
        color: $light-blue;
  
        @media (max-width: 1700px) {
          font-size: 13px;
        }
        @media (max-width: 1450px) {
          font-size: 12px;
        }
      }
    }
    .contact-list {
      width: 100%;
      display: flex;
      justify-content:space-between;
      align-items: flex-start;
      .contact-data {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 40px;
        .keys {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          gap: 20px;
          h3 {
            font-size: 14px;
            color: $light-blue;
            @media (max-width: 1700px) {
              font-size: 13px;
            }
            @media (max-width: 1450px) {
              font-size: 12px;
            }
          }
          h4 {
            font-size: 14px;
            color: $light-blue;
            font-weight: 600;
            @media (max-width: 1700px) {
              font-size: 13px;
            }
            @media (max-width: 1450px) {
              font-size: 12px;
            }
          }
          p {
            font-size: 14px;
            color: $light-blue;
            @media (max-width: 1700px) {
              font-size: 13px;
            }
            @media (max-width: 1450px) {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  