@import "../../../../../index.scss";
.admin-courses {
  width: 100%;
  display: flex;
  .admin-course-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    .course-details {
      width: 100%;
      margin-top: 10vh;
      background-color: $background;
      padding: 30px 30px 30px;
      min-height: 90vh;
      @media (max-width: 1700px) {
        padding: 25px 25px 30px;
        gap: 15px;
      }
      @media (max-width: 1450px) {
        padding: 20px 20px 30px;
      }
    }
  }
}
